.navbar {
    background-color: #333;
    color: #fff;
    padding: 2px 0px;
    width: 100%;
    list-style: none; 
    display: flex;    
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar ul {
    flex: 1;
}

.navbar li {
    list-style: none;
    display: inline-block;
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

button:hover {
    border-color: #fff;  
    transform: scale(1.1);  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  
}

.listnotes {
    margin-left: auto;
}

.writenote {
    margin-right: auto;
}

img {
    height: 30px; 
    background-color: transparent;
}
